# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# IDE
.eclipse/
.idea/
*.iml
*.ipr
*.iws
.vscode/
.project
.classpath
.settings/
bin/

# OS
.DS_Store
Thumbs.db

# Minecraft
run/
logs/
*.log

# Dev
src/generated/
doc/
CubicChunks2/
bin/
nul
.nul
the_log.txt
stderr.txt
