# Gradle
.gradle/
.gradle-home/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# Deploy keys
.ssh_deploy/

# IDE
.eclipse/
.idea/
*.iml
*.ipr
*.iws
.vscode/
.project
.classpath
.settings/
bin/

# OS
.DS_Store
Thumbs.db

# Minecraft
run/
logs/
*.log

# Dev
src/generated/
doc/

# Analysis output (jstack/spark dumps)
*.txt
repos/
libs/
CubicChunks2/
bin/
nul
.nul
the_log.txt
stderr.txt

src/.main/
prod_logs/
